{% extends "base.html" %}

{% block content %}
	<h1> {{ message }} </h1>
	<h2>
		<ul>
		<li>Adoption: {{ adoption }}.</li>
		<li>Died: {{ died }}. </li>
		<li>Euthanasia: {{ euthanasia }}. </li>
		<li>Return to owner: {{ return_to_owner }}. </li>
		<li>Transfer: {{ transfer }} </li>
		</ul>
	</h2>
	<div>
		<canvas id="myChart" width="200px" height="200px"></canvas>
	</div>
<script>
	var ctx = document.getElementById("myChart");
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ["Adoption", "Died", "Euthanasia", "Return to owner", "Transfer"],
			datasets: [{
				label: 'Probability of Outcome',
				data: [{{ adoption }}, {{ died }}, {{ euthanasia }}, {{ return_to_owner }}, {{ transfer }}],
				backgroundColor: [	
					'rgba(75, 192, 192, 0.2)',
					'rgba(255, 99, 132, 0.2)',
					'rgba(255, 206, 86, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(153, 102, 255, 0.2)'
				],
				borderColor: [
					'rgba(75, 192, 192, 1)',
					'rgba(255,99,132,1)',
					'rgba(255, 206, 86, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(153, 102, 255, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero:true,
						max: 1
					}
				}]
			}
		}
	});
</script>

{% endblock %}